@{
    ViewData["Title"] = "Home Page";
}

<div class="about-me-container">
    <div class="about-me-text">
        <h2>About Me</h2>
        <p>Hello! I'm Oliver, a passionate full-stack developer with a focus on creating efficient, scalable, and visually appealing web applications. With experience in C#, ASP.NET, SQL, Java and Azure, I enjoy tackling complex problems and continuously improving my skills. I'm looking for opportunities to contribute to innovative projects and grow professionally.</p>
    </div>
</div>