@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At MyECommerceApp, we value your privacy. This Privacy Policy explains how we collect, use, and protect your personal information when you visit or make a purchase from our website.
    How we use your personal information: 
    - We dont.
</p>
