html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url('/images/Background.jpg');
  background-size: cover;
  background-position: center;
}

.navbar, .navbar-nav, .nav-link {
  font-family: Papyrus, fantasy; /* Apply Papyrus to the navbar */
}

body {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.text-center {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1, .header {
    font-family: Papyrus, fantasy;
    font-size: 60px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    margin-top: 40px;
}

h3 {
    font-family: Papyrus, fantasy;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p, .table {
    font-family: Papyrus, fantasy;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Papyrus, fantasy;
    font-size: 26px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Papyrus, fantasy;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px !important;
}

.table, .table th, .table td {
  border: 1px solid #ccc;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
}

.nav-link {
  font-size: 16px;
  padding: 10px;
  color: #007bff;
}

.nav-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.table {
  margin: 0 auto;
  width: 900px;
  height: 400px;
}

.product-column {
  width: 120px;
}

.description-column {
  width: 300px;
}

.price-column {
  width: 100px;
}

.addToCart-column {
  width: 100px;
}

.cart-button {
  display: flex;
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center;    /* Center them horizontally */
  justify-content: center; /* Center them vertically */
  height: 80px; /* Optional: Set a height for the button */
  width: 100px; /* Optional: Set a width for the button */
}

.cart-button i {
  font-size: 24px; /* Adjust icon size */
  margin-bottom: 5px; /* Add some space between the icon and text */
}

.cart-button span {
  font-size: 14px; /* Adjust text size */
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100px;
}

.center-header {
  text-align: center;
}

