@model IEnumerable<MyECommerceApp.Models.Product>

<h1 class="header">Products</h1>
<table class="table">
    <thead>
        <tr>
            <th class="product-column">Product Name</th>
            <th class="description-column">Description</th>
            <th class="price-column">Price</th>
            <th class="addToCart-column"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>
                    <form asp-action="AddToCart" method="post">
                        <input type="hidden" name="productId" value="@product.ProductId" />
                        <button type="submit" class="btn btn-primary cart-button">
                            <i class="fas fa-shopping-cart"></i> Add to Cart
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>