@model IEnumerable<MyECommerceApp.Models.Product>

<h1>Products</h1>
<table class="table">
    <thead>
        <tr>
            <th>Productname</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>
